* {
    box-sizing: border-box;
}

body {
     font-size: 1.5em;
     font-family: sans-serif;
     color: white;
}

.calculatorContainer {
    border: 1px solid white;
    background-color: #605E5E;
    border-radius: 8px;
    width : 380px;
    margin : 0 auto;
}

.inputNumber {
    height: 90px;
    width: 100.1%;
    text-align: right;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #E8E6E6;
    font-size: 70px;
    padding: 30px 5px 0 5px;
}

.operators {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leftContainer {
    display: flex;
    flex-direction: column;
}

.rightContainer {
    display: flex;
    flex-direction: column;
}

.upperOperators, .lowerOperators {
    display: flex;
    flex-direction: row;
}

.upperOperators > span, .lowerOperators > span {
    width: 50px;
}

span {
    padding-top: 16px;
    border: 1px solid white;
    height: 79px;
    width: 79px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    margin: 5px;
    font-size: 40px;
    display: inline-block;
}

span:hover {
    background: #A1E1E4;
    cursor: pointer;
    color: #605E5E;
    border-color: #605E5E;
}

#zero {
    width: 175px;
}

.buttons .top {
    margin-top: 5px;
}

.buttons .bottom {
    margin-bottom: 5px;
}