* {
    box-sizing: border-box;
}

body {
     font-size: 1.5em;
     font-family: sans-serif;
     color: white;
}

.calculatorContainer {
    border: 1px solid black;
    background-color: black;
    border-radius: 8px;
    width : 380px;
    margin : 0 auto;
}

.inputNumber {
    height: 90px;
    width: 100.1%;
    text-align: right;
    border-radius: 8px;
    border: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #303030;
    font-size: 70px;
    color: white;
    padding: 30px 5px 0 5px;
}

.buttons div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div .bottom {
    margin-bottom: 8px;
}

div .top {
    margin-top: 8px;
}

span {
    padding-top: 16px;
    height: 79px;
    width: 79px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    font-size: 40px;
    display: inline-block;
    background-color: #404040;
    margin: 5px 0;
}

span:hover {
    background-color: #707070;
}

#zero {
    width: 170px;
}

.top span {
    background-color: #B0B0B0;
    color: black;
}

.top span:hover {
    background-color: white;
}

.operator {
    background-color: orange !important;
    color: white !important;
}

.operator:hover {
    background-color: white !important;
    color: orange !important;
}